body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header>ul,.Footer>ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  justify-content: center;
}
.Footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  color:azure;
}
.header>ul>a>li,.Footer>ul>a>li{
font-size: medium;
font-weight: 500;
color: azure;
}
.Footer, .header{
  background-color: cadetblue;
  display: flex;
  align-items: center;
  flex-direction: column;
}